.header_tab_img {
    max-width: 768px;
    height: 164px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header_tab_img img {
    object-fit: cover;
}

.servcieInfo_wrapper {
    max-width: 768px;
    margin: auto;
}

.cust_img {
    width: 100%;
    height: 164px;
}

.cust_main_text {
    width: 100%;
    height: 142px;
}

.cust_main_text p {
    text-align: center;
}

.cust_main_text p:first-of-type {
    padding-top: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: -0.5px;
}

.cust_main_text p:last-of-type {
    padding-top: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    font-weight: 400;
    color: #828282;
}

.cust_tab {
    max-width: 768px;
    height: 56px;
    margin: 0 auto;
}

.cust_tab ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cust_tab_list {
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #F2F2F2;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
}

.cust_tab_list span {
    display: block;
    width: 100%;
    color: #BDBDBD;
    font-weight: 500;
    line-height: 56px;
}


/* js속성 */

.underLine {
    border-bottom: 3px solid black;
}

.underLine span {
    color: black;
}

.customer_table {
    max-width: 768px;
    margin: 0 auto;
}

.customer_table table tr td:nth-child(4) {}

.customer_table table tr:last-child td {
    background: initial;
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.5px;
    color: #444444;
}

.customer_table .table_title {
    margin-top: 14px;
    margin-bottom: 14px;
}

.customer_table .table_title span {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #000000;
}

.customer_table table {
    width: 100%;
    border-top: 2px solid #000;
}

.customer_table table tr {
    height: 46px;
    line-height: 46px;
}

.customer_table table tr td {
    padding: 0 10px;
    border-bottom: 1px solid #E0E0E0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: #000000;
}

.customer_table table tr:not(:last-of-type) td:nth-child(1) {
    background: #F2F2F2;
    width: 130px;
}

.customer_table table tr td:nth-child(3) {
    background: #F2F2F2;
}

.customer_table table tr td:nth-child(4) {
    width: 254px;
}


/* 페이징 */

.cust_paging {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 138px;
}

.cust_paging ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cust_paging ul li span {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #BDBDBD;
    cursor: pointer;
}

.cust_paging ul li.clicked span {
    color: #2D9CDB;
    border: 1px solid #56CCF2;
    border-radius: 4px;
}

.cust_paging ul li span img {
    position: relative;
    top: 1px;
}

.cust_paging ul li span.arrow {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.cust_paging ul li span.arrow.right {
    margin-left: 5px;
}

.cust_paging ul li span.arrow.left {
    margin-right: 5px;
}

.header_tab_img_m,
.customer_card,
.mo_mode {
    display: none;
}


/*  */

.m_customer_wrapper {
    padding: 20px 0 60px;
    margin: 0 20px;
    display: none;
}

.m_customer_wrapper>span {
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.5px;
    color: #000000;
    margin-bottom: 10px;
}

.m_customer_wrapper .customer_state {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.5px;
    color: #828282;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.m_customer_wrapper .customer_state span {
    margin-right: 5px;
}

.customer_state .answer_state {
    color: #BDBDBD;
}

.customer_state .answer_state #checkAnswer {
    color: #828282;
}

.m_customer_wrapper .customer_contents p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.5px;
    color: #444444;
}

.m_customer_wrapper .customer_state {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.5px;
    color: #828282;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.m_customer_wrapper .customer_state span {
    margin-right: 5px;
}

.customer_state .recommend,
.customer_state .lookup {
    color: #BDBDBD;
}

.customer_state .recommend .recommend_cnt,
.customer_state .lookup .lookup_cnt {
    color: #828282;
}

.m_customer_wrapper .customer_contents p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.5px;
    color: #444444;
}

.next_page {
    max-width: 768px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.next_page div span {
    cursor: pointer;
    font-size: 14px;
}

.next_page div:first-of-type {
    width: 65px;
    height: 100%;
    align-items: center;
    display: flex;
}

.next_page div:first-of-type span {
    font-weight: bold;
    display: flex;
}

.next_page div:last-of-type {
    width: calc(100% - 65px);
    text-align: left;
    padding-left: 75px;
    display: flex;
    justify-content: space-between;
}

.next_page div:last-of-type span:first-of-type{
    text-decoration: underline;
}

.next_page div:last-of-type span:last-of-type {
    color: #757575;
}


/* mobile */

@media (max-width: 767px) {
    .header_tab_img,
    .customer_table,
    .cust_paging {
        display: none;
    }
    .m_customer_wrapper {
        display: block;
    }
    .header_tab_img_m {
        max-width: 767px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .cust_tab_img_m {
        max-width: 360px;
        height: 400px;
    }
    .cust_main_text p:first-of-type {
        padding-top: 50px;
    }
    .cust_main_text p:last-of-type {
        color: #828282;
    }
    .cust_tab {
        padding-left: 21px;
        padding-right: 21px;
    }
    .cust_tab_list span {
        font-size: 12px;
    }
    .next_page {
        margin: 0 20px;
    }
    
    .next_page div:last-of-type {
        padding-left: 26px;
        flex-direction: column;
    }
    .next_page div:last-of-type span:last-of-type {
        padding-top: 9px;
    }
}